@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
#hayley-area *,
#hayley-area *:after,
#hayley-area *:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
#hayley-area *::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
#hayley-area *::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
#hayley-area #hayley-area .hayley-absolute {
  position: absolute !important;
}
#hayley-area .hayley-relative {
  position: relative !important;
}
#hayley-area .hayley-bottom-0 {
  bottom: 0 !important;
}
#hayley-area .hayley-left-\[24px\] {
  left: 24px !important;
}
#hayley-area .hayley-right-0 {
  right: 0 !important;
}
#hayley-area .hayley-right-\[16px\] {
  right: 16px !important;
}
#hayley-area .hayley-right-\[24px\] {
  right: 24px !important;
}
#hayley-area .hayley-top-0 {
  top: 0 !important;
}
#hayley-area .hayley-top-1\/3 {
  top: 33.333333% !important;
}
#hayley-area .hayley-z-20 {
  z-index: 20 !important;
}
#hayley-area .hayley-z-30 {
  z-index: 30 !important;
}
#hayley-area .hayley-col-span-2 {
  grid-column: span 2 / span 2 !important;
}
#hayley-area .hayley-col-span-7 {
  grid-column: span 7 / span 7 !important;
}
#hayley-area .hayley-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.-hayley-mb-\[8px\] {
  margin-bottom: -8px !important;
}
.-hayley-ml-\[4px\] {
  margin-left: -4px !important;
}
#hayley-area .hayley-mb-\[12px\] {
  margin-bottom: 12px !important;
}
#hayley-area .hayley-mb-\[28px\] {
  margin-bottom: 28px !important;
}
#hayley-area .hayley-ml-auto {
  margin-left: auto !important;
}
#hayley-area .hayley-mr-\[12px\] {
  margin-right: 12px !important;
}
#hayley-area .hayley-mt-\[8px\] {
  margin-top: 8px !important;
}
#hayley-area .hayley-box-border {
  box-sizing: border-box !important;
}
#hayley-area .hayley-flex {
  display: flex !important;
}
#hayley-area .hayley-grid {
  display: grid !important;
}
#hayley-area .hayley-hidden {
  display: none !important;
}
#hayley-area .hayley-h-\[100px\] {
  height: 100px !important;
}
#hayley-area .hayley-h-\[12px\] {
  height: 12px !important;
}
#hayley-area .hayley-h-\[16px\] {
  height: 16px !important;
}
#hayley-area .hayley-h-\[20px\] {
  height: 20px !important;
}
#hayley-area .hayley-h-\[24px\] {
  height: 24px !important;
}
#hayley-area .hayley-h-\[28px\] {
  height: 28px !important;
}
#hayley-area .hayley-h-\[32px\] {
  height: 32px !important;
}
#hayley-area .hayley-h-\[34px\] {
  height: 34px !important;
}
#hayley-area .hayley-h-\[36px\] {
  height: 36px !important;
}
#hayley-area .hayley-h-\[40px\] {
  height: 40px !important;
}
#hayley-area .hayley-h-\[44px\] {
  height: 44px !important;
}
#hayley-area .hayley-h-\[48px\] {
  height: 48px !important;
}
#hayley-area .hayley-h-\[610px\] {
  height: 610px !important;
}
#hayley-area .hayley-h-\[84px\] {
  height: 84px !important;
}
#hayley-area .hayley-h-\[90px\] {
  height: 90px !important;
}
#hayley-area .hayley-h-fit {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
#hayley-area .hayley-h-full {
  height: 100% !important;
}
#hayley-area .hayley-max-h-\[240px\] {
  max-height: 240px !important;
}
#hayley-area .hayley-max-h-\[268px\] {
  max-height: 268px !important;
}
#hayley-area .hayley-max-h-\[42px\] {
  max-height: 42px !important;
}
#hayley-area .hayley-max-h-\[inherit\] {
  max-height: inherit !important;
}
#hayley-area .hayley-min-h-fit {
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}
#hayley-area .hayley-min-h-min {
  min-height: -webkit-min-content !important;
  min-height: min-content !important;
}
#hayley-area .hayley-w-\[12px\] {
  width: 12px !important;
}
#hayley-area .hayley-w-\[140px\] {
  width: 140px !important;
}
#hayley-area .hayley-w-\[16px\] {
  width: 16px !important;
}
#hayley-area .hayley-w-\[20px\] {
  width: 20px !important;
}
#hayley-area .hayley-w-\[24px\] {
  width: 24px !important;
}
#hayley-area .hayley-w-\[32px\] {
  width: 32px !important;
}
#hayley-area .hayley-w-\[34px\] {
  width: 34px !important;
}
#hayley-area .hayley-w-\[36px\] {
  width: 36px !important;
}
#hayley-area .hayley-w-\[40px\] {
  width: 40px !important;
}
#hayley-area .hayley-w-\[44px\] {
  width: 44px !important;
}
#hayley-area .hayley-w-\[480px\] {
  width: 480px !important;
}
#hayley-area .hayley-w-\[84px\] {
  width: 84px !important;
}
#hayley-area .hayley-w-\[90px\] {
  width: 90px !important;
}
#hayley-area .hayley-w-fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
#hayley-area .hayley-w-full {
  width: 100% !important;
}
#hayley-area .hayley-w-px {
  width: 1px !important;
}
#hayley-area .hayley-min-w-\[252px\] {
  min-width: 252px !important;
}
#hayley-area .hayley-min-w-\[32px\] {
  min-width: 32px !important;
}
#hayley-area .hayley-min-w-fit {
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}
#hayley-area .hayley-min-w-min {
  min-width: -webkit-min-content !important;
  min-width: min-content !important;
}
#hayley-area .hayley-max-w-\[64\%\] {
  max-width: 64% !important;
}
#hayley-area .hayley-max-w-full {
  max-width: 100% !important;
}
#hayley-area .hayley-flex-\[4px\] {
  flex: 4px 1 !important;
}
#hayley-area .hayley-flex-none {
  flex: none !important;
}
.-hayley-translate-y-1\/2 {
  --tw-translate-y: -50% !important;
}
.-hayley-translate-y-1\/2,
.-hayley-translate-y-full {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.-hayley-translate-y-full {
  --tw-translate-y: -100% !important;
}
.-hayley-rotate-90 {
  --tw-rotate: -90deg !important;
}
.-hayley-rotate-90,
#hayley-area .hayley-rotate-180 {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
#hayley-area .hayley-rotate-180 {
  --tw-rotate: 180deg !important;
}
#hayley-area .hayley-rotate-90 {
  --tw-rotate: 90deg !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
#hayley-area .hayley-cursor-pointer {
  cursor: pointer !important;
}
#hayley-area .hayley-select-none {
  -webkit-user-select: none !important;
  user-select: none !important;
}
#hayley-area .hayley-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
#hayley-area .hayley-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}
#hayley-area .hayley-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}
#hayley-area .hayley-grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}
#hayley-area .hayley-flex-col {
  flex-direction: column !important;
}
#hayley-area .hayley-flex-wrap {
  flex-wrap: wrap !important;
}
#hayley-area .hayley-items-start {
  align-items: flex-start !important;
}
#hayley-area .hayley-items-center {
  align-items: center !important;
}
#hayley-area .hayley-justify-start {
  justify-content: flex-start !important;
}
#hayley-area .hayley-justify-end {
  justify-content: flex-end !important;
}
#hayley-area .hayley-justify-center {
  justify-content: center !important;
}
#hayley-area .hayley-justify-between {
  justify-content: space-between !important;
}
#hayley-area .hayley-gap-\[4px\] {
  gap: 4px !important;
}
#hayley-area .hayley-gap-y-\[8px\] {
  row-gap: 8px !important;
}
#hayley-area .hayley-space-x-\[12px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(12px * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(12px * var(--tw-space-x-reverse)) !important;
}
#hayley-area .hayley-space-x-\[16px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(16px * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(16px * var(--tw-space-x-reverse)) !important;
}
#hayley-area .hayley-space-x-\[4px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(4px * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(4px * var(--tw-space-x-reverse)) !important;
}
#hayley-area .hayley-space-x-\[8px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-left: calc(8px * (1 - var(--tw-space-x-reverse))) !important;
  margin-right: calc(8px * var(--tw-space-x-reverse)) !important;
}
#hayley-area .hayley-space-y-\[16px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(16px * var(--tw-space-y-reverse)) !important;
  margin-top: calc(16px * (1 - var(--tw-space-y-reverse))) !important;
}
#hayley-area .hayley-space-y-\[4px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(4px * var(--tw-space-y-reverse)) !important;
  margin-top: calc(4px * (1 - var(--tw-space-y-reverse))) !important;
}
#hayley-area .hayley-space-y-\[8px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-bottom: calc(8px * var(--tw-space-y-reverse)) !important;
  margin-top: calc(8px * (1 - var(--tw-space-y-reverse))) !important;
}
#hayley-area .hayley-divide-x-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0 !important;
  border-left-width: calc(0px * (1 - var(--tw-divide-x-reverse))) !important;
  border-right-width: calc(0px * var(--tw-divide-x-reverse)) !important;
}
#hayley-area .hayley-divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0 !important;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse)) !important;
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse))) !important;
}
#hayley-area .hayley-divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid !important;
}
#hayley-area .hayley-divide-custom-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1 !important;
  border-color: rgb(218 218 218 / var(--tw-divide-opacity)) !important;
}
#hayley-area .hayley-overflow-auto {
  overflow: auto !important;
}
#hayley-area .hayley-overflow-hidden {
  overflow: hidden !important;
}
#hayley-area .hayley-overflow-y-auto {
  overflow-y: auto !important;
}
#hayley-area .hayley-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
#hayley-area .hayley-break-all {
  word-break: break-all !important;
}
#hayley-area .hayley-rounded {
  border-radius: 0.25rem !important;
}
#hayley-area .hayley-rounded-\[2px\] {
  border-radius: 2px !important;
}
#hayley-area .hayley-rounded-full {
  border-radius: 9999px !important;
}
#hayley-area .hayley-rounded-lg {
  border-radius: 0.5rem !important;
}
#hayley-area .hayley-rounded-none {
  border-radius: 0 !important;
}
#hayley-area .hayley-rounded-tl-none {
  border-top-left-radius: 0 !important;
}
#hayley-area .hayley-rounded-tr-none {
  border-top-right-radius: 0 !important;
}
#hayley-area .hayley-border {
  border-width: 1px !important;
}
#hayley-area .hayley-border-0 {
  border-width: 0 !important;
}
#hayley-area .hayley-border-l {
  border-left-width: 1px !important;
}
#hayley-area .hayley-border-solid {
  border-style: solid !important;
}
#hayley-area .hayley-border-none {
  border-style: none !important;
}
#hayley-area .hayley-border-black\/10 {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
#hayley-area .hayley-border-custom-4 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(153 153 153 / var(--tw-border-opacity)) !important;
}
#hayley-area .hayley-border-custom-6 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(218 218 218 / var(--tw-border-opacity)) !important;
}
#hayley-area .hayley-border-transparent {
  border-color: transparent !important;
}
#hayley-area .hayley-bg-custom-2 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(223 231 238 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-custom-5 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-custom-6 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(218 218 218 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-custom-6\/70 {
  background-color: hsla(0, 0%, 85%, 0.7) !important;
}
#hayley-area .hayley-bg-custom-7 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-primary {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(38 187 237 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-secondary {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-bg-secondary\/10 {
  background-color: rgba(51, 51, 51, 0.1) !important;
}
#hayley-area .hayley-bg-transparent {
  background-color: initial !important;
}
#hayley-area .hayley-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
#hayley-area .hayley-object-cover {
  object-fit: cover !important;
}
#hayley-area .hayley-object-center {
  object-position: center !important;
}
#hayley-area .hayley-p-0 {
  padding: 0 !important;
}
#hayley-area .hayley-p-\[12px\] {
  padding: 12px !important;
}
#hayley-area .hayley-p-\[16px\] {
  padding: 16px !important;
}
#hayley-area .hayley-p-\[8px\] {
  padding: 8px !important;
}
#hayley-area .hayley-px-\[10px\] {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
#hayley-area .hayley-px-\[16px\] {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
#hayley-area .hayley-px-\[24px\] {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
#hayley-area .hayley-py-\[10px\] {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
#hayley-area .hayley-py-\[12px\] {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}
#hayley-area .hayley-py-\[20px\] {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
#hayley-area .hayley-py-\[32px\] {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}
#hayley-area .hayley-py-\[6px\] {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}
#hayley-area .hayley-py-\[8px\] {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}
#hayley-area .hayley-pb-\[4px\] {
  padding-bottom: 4px !important;
}
#hayley-area .hayley-text-center {
  text-align: center !important;
}
#hayley-area .hayley-text-right {
  text-align: right !important;
}
#hayley-area .hayley-font-opensans {
  font-family: Open Sans, sans-serif !important;
}
#hayley-area .hayley-text-\[12px\] {
  font-size: 12px !important;
}
#hayley-area .hayley-text-\[14px\] {
  font-size: 14px !important;
}
#hayley-area .hayley-text-\[16px\] {
  font-size: 16px !important;
}
#hayley-area .hayley-text-\[18px\] {
  font-size: 18px !important;
}
#hayley-area .hayley-font-semibold {
  font-weight: 600 !important;
}
#hayley-area .hayley-normal-case {
  text-transform: none !important;
}
#hayley-area .hayley-italic {
  font-style: italic !important;
}
#hayley-area .hayley-leading-\[24px\] {
  line-height: 24px !important;
}
#hayley-area .hayley-text-\[\#FFF9F9\] {
  --tw-text-opacity: 1 !important;
  color: rgb(255 249 249 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-text-custom-3 {
  --tw-text-opacity: 1 !important;
  color: rgb(79 111 174 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-text-custom-4 {
  --tw-text-opacity: 1 !important;
  color: rgb(153 153 153 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-text-inherit {
  color: inherit !important;
}
#hayley-area .hayley-text-secondary {
  --tw-text-opacity: 1 !important;
  color: rgb(51 51 51 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-text-secondary\/50 {
  color: rgba(51, 51, 51, 0.5) !important;
}
#hayley-area .hayley-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
#hayley-area .hayley-underline {
  text-decoration-line: underline !important;
}
#hayley-area .hayley-no-underline {
  text-decoration-line: none !important;
}
#hayley-area .hayley-opacity-10 {
  opacity: 0.1 !important;
}
#hayley-area .hayley-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color) !important;
}
#hayley-area .hayley-shadow-lg,
#hayley-area .hayley-shadow-options {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
#hayley-area .hayley-shadow-options {
  --tw-shadow: 0px 0px 18px rgba(0, 0, 0, 0.09) !important;
  --tw-shadow-colored: 0px 0px 18px var(--tw-shadow-color) !important;
}
#hayley-area .hayley-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
#hayley-area .hayley-outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
#hayley-area {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#hayley-area ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
#hayley-area ::-webkit-scrollbar-track {
  background: #fff;
  cursor: pointer;
}
#hayley-area ::-webkit-scrollbar-thumb {
  background: #e6eaec;
  border-radius: 10px;
}
#hayley-area ::-webkit-scrollbar-thumb:hover {
  background: #424242;
}
.placeholder\:hayley-font-medium::-webkit-input-placeholder {
  font-weight: 500 !important;
}
.placeholder\:hayley-font-medium::placeholder {
  font-weight: 500 !important;
}
.placeholder\:hayley-text-gray-400::-webkit-input-placeholder {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}
.placeholder\:hayley-text-gray-400::placeholder {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}
#hayley-area .hover\:hayley-text-white:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
#hayley-area .hover\:hayley-shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
#hayley-area .hover\:hayley-drop-shadow-xl:hover {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)) !important;
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow) !important;
}
#hayley-area .focus\:hayley-outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
#hayley-area .disabled\:hayley-cursor-not-allowed:disabled {
  cursor: not-allowed !important;
}
#hayley-area .disabled\:hayley-text-secondary\/40:disabled {
  color: rgba(51, 51, 51, 0.4) !important;
}
#hayley-area .disabled\:hover\:hayley-border-custom-4:hover:disabled {
  --tw-border-opacity: 1 !important;
  border-color: rgb(153 153 153 / var(--tw-border-opacity)) !important;
}
#hayley-area .disabled\:hover\:hayley-bg-white:hover:disabled {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
#hayley-area .disabled\:hover\:hayley-text-secondary:hover:disabled {
  --tw-text-opacity: 1 !important;
  color: rgb(51 51 51 / var(--tw-text-opacity)) !important;
}
#hayley-area .disabled\:hover\:hayley-text-secondary\/40:hover:disabled {
  color: rgba(51, 51, 51, 0.4) !important;
}
#hayley-area .hayley-group:hover .group-hover\:hayley-block {
  display: block !important;
}
#hayley-area .hayley-group:hover .group-hover\:hayley-hidden {
  display: none !important;
}
